.About{
    display: flex;
    padding: 30px;
}

.logos{
    height: 280px;
    width: 500px;
    padding: 20px;
    
}
.About p{
    font-size: 20px;
    padding: 10px 0px;
}

.share{
    height: 150px;
    width: 200px;
}
.share-logo{
    padding: 30px;
}
@media(max-width:1000px){
    .About{
        flex-direction: column;
    }
}

@media(max-width:1000px){
    .logos{
        width: 100%;
        height: 100%;
        padding: 0;
    }
}