*{
    margin: 0;
    padding: 0;
}

.Detail{
    display: flex;
    
}

.container b {
    font-size: 22px;
    font-family: serif;
}
.container{
    position: relative;
    max-width: 1000px;
    width: auto;
    padding: 30px;
    margin: 20px 30px 30px;
    background-color: #fff;
    box-shadow: 10px 10px  10px 10px rgba(0,0,0,0.1);
    font-family: sans-serif;
}

.container form{
    position: relative;
    margin-top: 16px;
    height: 1000px;
    background-color: #fff;
    overflow: hidden;
}

.container form .fields{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
form .fields .input-field{
    display: flex;
    width: calc(100% / 3 - 15px);
    flex-direction: column;
    margin: 4px 0;
}
.input-field label{
    font-size: 16px;
    font-weight: 500;
    color: #2e2e2e;
}
.input-field input, select{
    outline: none;
    font-size: 16px;
    font-weight: 400;
    color: #333;
    border-radius: 5px;
    border: 1px solid #aaa;
    padding: 0 15px;
    height: 42px;
    margin: 8px 0;
}
.input-field input :focus,
.input-field select:focus{
    box-shadow: 0 3px 6px rgba(0,0,0,0.13);
}
.input-field select,
.input-field input[type="date"]{
    color: #707070;
}
.input-field input[type="date"]:valid{
    color: #333;
}


button{
    background-color: rgb(125, 157, 245);
    padding: 10px;
    width: 80px;
    margin: 20px;
    border: none;
    border-radius: 5px;
    color: white;
   
}

button:hover{
    background-color: #1976d2;
    scale: 110%;
}

@media (max-width:750px) {

    .container {
        overflow-y: scroll;
       
    }
    form .fields .input-field{
        width: calc(100% /2 - 15px);
        flex-direction: column;
    }
}

@media (max-width:550px){
    form .fields .input-field{
       width: 100%;
    } 
}

.prof{
  
    width: 200px;
}
.profile{
    margin: 10px;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 2px solid gray;
}

@media (max-width:550px){
    .Detail{
        flex-direction: column;
       width: 100%;
    } 
}
