.topnav {
    overflow: hidden;
    background-color:  #1976d2;
    display: flex;
    justify-content: space-between; 
   
  }

  .topnav a {
   
    color: white;
    padding: 10px 10px;
    font-size: 14px;
    font-family: sans-serif;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav header{
   
    float: left;
    color: white;
    font-size: 20px;
    padding: 5px 20px;
   
  }
 
 
  @media(max-width:550px){
    .topnav {
        width: 100%;
        flex-direction: column;
        text-align: center;
        
      }
  }

  
  @media(max-width:550px){
    .topnav header{
        width: 100%;
        text-align: center;
    
      }
  }
 
 